/*

Name: 			theme.css
Written by: 	BTC - Maari Vanaraj
Version: 		1.0

*/

html {
	direction: ltr;
	overflow-x: hidden;
}

body {
	background-color: #eef2f5;
	color: #2d2926;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;	
	margin: 0;	
	padding: 0px !important;
	overflow-x: hidden;
}

a:hover{
    text-decoration: none;
}

.white-bg{
    background: #fff !important;  
}

.txt-gray{
    color: #7c868d;
}

.txt-blue{
    color: #001a73;036eb7
}

.lbl-gray{
    display: block;
    color: #7c868d;
    font-weight: 400;
    margin-bottom: 3px;   
}

.overflow-hidden{
    overflow: hidden !important;
}

.dis-inline{
    display: inline-block;
}

.selectpicker{
    padding: 6px 25px 6px 12px;
}

/* Spacements */
/* spacement top & bottom */
.m-none {
	margin: 0 !important;
}

.m-auto {
	margin: 0 auto !important;
}

.m-xs {
	margin: 5px !important;
}

.m-sm {
	margin: 10px !important;
}

.m-md {
	margin: 15px !important;
}

.m-lg {
	margin: 20px !important;
}

.m-xl {
	margin: 25px !important;
}

.m-xlg {
	margin: 30px !important;
}

/* spacement top	*/
.mt-none {
	margin-top: 0 !important;
}

.mt-xs {
	margin-top: 5px !important;
}

.mt-sm {
	margin-top: 10px !important;
}

.mt-md {
	margin-top: 15px !important;
}

.mt-lg {
	margin-top: 20px !important;
}

.mt-xl {
	margin-top: 25px !important;
}

.mt-xlg {
	margin-top: 30px !important;
}

.mt-xxlg {
	margin-top: 40px !important;
}

/* spacement bottom	*/
.mb-none {
	margin-bottom: 0 !important;
}

.mb-xs {
	margin-bottom: 5px !important;
}

.mb-sm {
	margin-bottom: 10px !important;
}

.mb-md {
	margin-bottom: 15px !important;
}

.mb-lg {
	margin-bottom: 20px !important;
}

.mb-xl {
	margin-bottom: 25px !important;
}

.mb-xlg {
	margin-bottom: 30px !important;
}

.mb-xxlg {
	margin-bottom: 40px !important;
}

/* spacement left	*/
.ml-none {
	margin-left: 0 !important;
}

.ml-xs {
	margin-left: 5px !important;
}

.ml-sm {
	margin-left: 10px !important;
}

.ml-md {
	margin-left: 15px !important;
}

.ml-lg {
	margin-left: 20px !important;
}

.ml-xl {
	margin-left: 25px !important;
}

.ml-xlg {
	margin-left: 30px !important;
}

/* spacement right	*/
.mr-none {
	margin-right: 0 !important;
}

.mr-xs {
	margin-right: 5px !important;
}

.mr-sm {
	margin-right: 10px !important;
}

.mr-md {
	margin-right: 15px !important;
}

.mr-lg {
	margin-right: 20px !important;
}

.mr-xl {
	margin-right: 25px !important;
}

.mr-xlg {
	margin-right: 30px !important;
}

/* Spacement Padding */
.p-none {
	padding: 0 !important;
}

.p-xs {
	padding: 5px !important;
}

.p-sm {
	padding: 10px !important;
}

.p-md {
	padding: 15px !important;
}

.p-lg {
	padding: 20px !important;
}

.p-xl {
	padding: 25px !important;
}

.p-xlg {
	padding: 30px !important;
}

/* spacement top	*/
.pt-none {
	padding-top: 0 !important;
}

.pt-xs {
	padding-top: 5px !important;
}

.pt-sm {
	padding-top: 10px !important;
}

.pt-md {
	padding-top: 15px !important;
}

.pt-lg {
	padding-top: 20px !important;
}

.pt-xl {
	padding-top: 25px !important;
}

.pt-xlg {
	padding-top: 30px !important;
}

.pt-xxlg {
	padding-top: 40px !important;
}

.pt-xxxlg {
	padding-top: 50px !important;
}

/* spacement bottom	*/
.pb-none {
	padding-bottom: 0 !important;
}

.pb-xs {
	padding-bottom: 5px !important;
}

.pb-sm {
	padding-bottom: 10px !important;
}

.pb-md {
	padding-bottom: 15px !important;
}

.pb-lg {
	padding-bottom: 20px !important;
}

.pb-xl {
	padding-bottom: 25px !important;
}

.pb-xlg {
	padding-bottom: 30px !important;
}

.pb-xxlg {
	padding-bottom: 40px !important;
}

.pb-xxxlg {
	padding-bottom: 50px !important;
}

/* spacement left	*/
.pl-none {
	padding-left: 0 !important;
}

.pl-xs {
	padding-left: 5px !important;
}

.pl-sm {
	padding-left: 10px !important;
}

.pl-md {
	padding-left: 15px !important;
}

.pl-lg {
	padding-left: 20px !important;
}

.pl-xl {
	padding-left: 25px !important;
}

.pl-xlg {
	padding-left: 30px !important;
}
.pl-xxlg {
  padding-left: 40px !important;
}

/* spacement right	*/
.pr-none {
	padding-right: 0 !important;
}

.pr-xs {
	padding-right: 5px !important;
}

.pr-sm {
	padding-right: 10px !important;
}

.pr-md {
	padding-right: 15px !important;
}

.pr-lg {
	padding-right: 20px !important;
}

.pr-xl {
	padding-right: 25px !important;
}

.pr-xlg {
	padding-right: 30px !important;
}

.vertical-align-sup{
    vertical-align: super;
}

.vertical-align-text-top{
    vertical-align: text-top !important;
}


.pos-inherit{
	position: inherit !important;
}

.grayeef2f5-bg{
	background: #eef2f5 !important;
}

/*Font color*/

.gray-95a2ab{
    color: #95a2ab;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    vertical-align: bottom;
}

.gray-xs-f{    
    font-size: 14px;
    line-height: 16px;
    color: #7c868d;
    font-weight: 500;
}

.black-xs-f{    
    font-size: 14px;
    line-height: 16px;
    color: #2d2926;
    font-weight: 500;
}

.black-lg-f{
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
}


.black-s-f {
    font-size: 14px;
    line-height: 16px;
    color: #2d2926;
    font-weight: 600;
}

.black-md-f{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #2d2926;
}

.black-sm-f{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #2d2926;
}

.blue-md-f{
    font-size: 14px;
    line-height: 18px;
    color: #001871;
    font-weight: 600;    
}

.blue-lg-f{
    font-size: 20px;
    line-height: 26px;
    color: #001871;
    font-weight: 600;    
}

.bor-none{
    border: none !important;
}

/*Font Weight*/

.text-weight-light {
	font-weight: 200 !important;
}

.text-weight-normal {
	font-weight: 400 !important;
}

.text-weight-semibold {
	font-weight: 500 !important;
}

.text-weight-bold {
	font-weight: 700 !important;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

/*Text align*/

.txt-left{
    text-align: left;
}

.txt-center{
    text-align: center;
}

.txt-right{
    text-align: right;
}

.txt-decoration-underline{
    text-decoration: underline !important;
}

.bg-transparent{
    background: transparent !important;
}

.box-space{
    padding: 30px;
}

.lg-space-right{
	position: relative;
}

/*Icons rotate*/
.lg-space-title{
  padding-top:40px;
}
.lg-space-title span:first-child{
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    padding-right: 10px;
}

.lg-space-title span:last-child{
    color: #fff;
    font-size: 26px;
    font-weight: 500;
}

.lg-icons-list{
    padding: 0px;
}

.lg-icons-list li{
    display: inline-block;   
    text-align: center;    
    margin: 10px;
    cursor: pointer;
}

/*.lg-icons-list li:hover{
    background: #eef2f5;
}*/

.lg-icons-list li div{
    color: #fff;
    font-size: 14px;
    margin-top: 5px;   
    text-transform: uppercase; 
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

/* Navigation Menu */

.navbar {
    position: relative;
    min-height: 60px !important;
    margin-bottom: 0px !important;
    border: none;
    border-radius: 0px !important;
}

.navbar-inverse{
  background-color: transparent;
  border-color: transparent;  
}

.nav>li>a{
    color: #95a2ab !important;    
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    color: #007cba !important;
    background-color: transparent;    
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: transparent;
}

.navbar-toggle{
    margin-top: 16px;
}

.navbar-inverse .navbar-toggle{
    border-color: #007cba;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: #007cba;
}

.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #007cba;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover .icon-bar{
    background-color: #fff;
}

.navbar-right li a,.navbar-right li a:hover,.navbar-right li a:focus,.navbar-right li a:active{
    border-color: transparent !important;
    color: #000 !important;    
}

.dropdown-menu{
    padding: 10px 0px;
    border-radius: 0px;
}

.dropdown-menu > li >a{
    padding: 8px 20px;
    color: #2d2926;
    font-weight: 500;
}

.dropdown-menu > li >a:hover{
    color: #007cba !important
}

.table>thead > tr > th{
    color: #95a2ab;
    border-bottom: 0px solid #e2e9f0;
    font-weight: 500;
    text-transform: uppercase;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: 1px solid #e2e9f0;
    padding: 16px 10px;
}

table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting:after,table.dataTable thead .sorting_desc:after{
    content: "";
}

table.dataTable{
    border: 1px solid #e2e9f0;
    margin: 0px !important;
}

table.dataTable.no-footer{
    border-bottom: none !important;
}

div.dataTables_wrapper div.dataTables_paginate{
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    background: #e1e8ee; 
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 3px 10px;
    margin-left: 10px;
    border: 1px solid #4d5358 !important;
    border-radius: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    color: #fff !important;
    border: 1px solid #007cba !important;
    background-color: #007cba;
    background: linear-gradient(to bottom, #007cba 0%, #007cba 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    color: #95a2ab !important;
    border: 1px solid #95a2ab !important;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled{
    background-position: 90% center;
}


/* Form Controls*/

.form-control{    
    border: 1px solid #c9d2d6;
    color: #2d2926;
    outline: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: none;
    -webkit-transition: none;   
    resize: none;
}

.selectpicker{    
    border: 1px solid #c9d2d6;
    color: #2d2926;
    border-radius: 4px;
}

.form-control:focus{
    border-color: #c9d2d6;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: none;
    -webkit-transition: none;
}

.form-control[disabled] {
    background-color: #eee;
    opacity: 1;
    cursor: not-allowed;
}
.form-control[readonly] {
	background-color: transparent;
    opacity: 1;
}
.form-control{
    background: #fff;
}

.btn-default:hover{
    color: #2d2926;
    background-color: #fff;
    border-color: #c9d2d6;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover,.bootstrap-select .dropdown-toggle:focus{
    color: #2d2926;
    background-color: #fff;
    border-color: #c9d2d6;
    outline: none !important;
     box-shadow: none;
    -webkit-box-shadow: none;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
    color: #2d2926 !important;
    background-color: #fff !important;
    border-color: #c9d2d6;
     box-shadow: none;
    -webkit-box-shadow: none;
}

.error .bootstrap-select .dropdown-toggle, .has-error .bootstrap-select .dropdown-toggle{		
	border-color: red !important;		
}	

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    color: #2d2926;
    background-color: #fff;
    border-color: #c9d2d6;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.blue-btn{
    background: #007cba;
    border-color: #007cba !important;
    padding: 4px 20px;
}

.blue-btn:hover{
    background: #0473ab !important;
    border-color: #0473ab !important;
}

.gray-btn{
    color: #fff !important;
    background-color: #95a2ab !important;
    border-color: #95a2ab !important;
    padding: 4px 20px;
}

.gray-btn:hover{
    background-color: #8c979e !important;
     border-color: #8c979e !important;
}

.btn-md button{
    width: 152px !important;
}

.dis-line{
    display: inline-block !important;
}

.dis-none{
    display: none !important;
}

input[type=file]{
    display: none;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 58px;
  height: 23px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  box-shadow: none;
  cursor: pointer;
  background-image: none;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ce0037;
  border-radius: inherit;
  box-shadow: none;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr();
  right: 11px;
  color: #aaa;
  text-shadow: none;
}
.switch-label:after {
  content: attr();
  left: 11px;
  color: white;
  text-shadow: none;
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #fff;
  box-shadow: none;
  border: 2px solid #5ec456;
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 7.5px;
  left: 8px;
  width: 14px;
  height: 14px; 
  border-radius: 10px;
  box-shadow: none;
  background-image: none;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #ce0037, #ce0037);
  background-image: -moz-linear-gradient(top, #ce0037, #ce0037);
  background-image: -o-linear-gradient(top, #ce0037, #ce0037);
  background-image: linear-gradient(to bottom, #ce0037, #ce0037);
}
.switch-input:checked ~ .switch-handle {
  left: 35px;
  box-shadow: none;
}

.switch-input:checked ~ .switch-handle:before {
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #5ec456, #5ec456);
  background-image: -moz-linear-gradient(top, #5ec456, #5ec456);
  background-image: -o-linear-gradient(top, #5ec456, #5ec456);
  background-image: linear-gradient(to bottom, #5ec456, #5ec456);
}

.switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}

/** Study page Layout**/
.left-content{
    width: 235px;
    background: #e1e8ee;
    display: inline-block;
    float: left;  
    overflow-y: scroll;
}

.left-content-container ul li:nth-child(5){
/*     border-bottom: none; */
}

.left-content-container ul li:nth-child(7),.left-content-container ul li:nth-child(8),.left-content-container ul li:nth-child(9),.left-content-container ul li:nth-child(11),.left-content-container ul li:nth-child(12){
    padding: 10px 15px 10px 25px;
    border-bottom: none;
}

.left-content-container ul li:nth-child(7).active,.left-content-container ul li:nth-child(8).active,.left-content-container ul li:nth-child(9).active,.left-content-container ul li:nth-child(11).active,.left-content-container ul li:nth-child(12).active{
    padding: 10px 15px 10px 22px;
    border-bottom: none;
}

.left-content-container ul li:nth-child(9),.left-content-container ul li:nth-child(12){
    border-bottom: 1px solid #d5dee3;
}


.right-content{
    background: #fff;
    display: inline-block;
    float: left;    
}


/* Footer */
.footer{
    text-align: center;    
    margin-top: -40px;
}

.foot{
    text-align: right;
    padding: 10px 0px;
    
}

.footer span,.foot span{
    font-size: 12px;
    color: #707070;
    padding: 1px 15px;
    border-right: 1px solid #c5c5c5;
}

.footer span:last-child,.foot span:last-child{
    border-right: 1px solid transparent;
}

.footer span a,.foot span a{
    color: #707070;
    font-size: 12px;
    font-weight: 400;
}

.footer span a:hover,.foot span a:hover{
    color: #007cba;
    text-decoration: none;
}
.vertical-align-middle{
    vertical-align: middle;
}
.blue-bg{
  background: #232c68;  
}

.green-bg{
    background: #0cbd63;
}

.skyblue-bg{
    background: #10aec6;
}
.float__left{
	float:left;
}