<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>studyActivity</key>
		<array>
			<dict>
				<key>name</key>
				<string>Roger</string>
				<key>isTableViewCell</key>
				<string>YES</string>
				<key>status</key>
				<string>In Progress</string>
			</dict>
			<dict>
				<key>studyCompletion</key>
				<string>73</string>
				<key>studyAdherence</key>
				<string>43</string>
				<key>isTableViewCell</key>
				<string>YES</string>
			</dict>
			<dict>
				<key>isStudy</key>
				<string>NO</string>
				<key>isTableViewCell</key>
				<string>NO</string>
				<key>statistics</key>
				<array>
					<dict>
						<key>type</key>
						<string>1</string>
						<key>isStudy</key>
						<string>NO</string>
						<key>isTableViewCell</key>
						<string>NO</string>
						<key>sleepCount</key>
						<string>30</string>
					</dict>
					<dict>
						<key>type</key>
						<string>2</string>
						<key>isStudy</key>
						<string>NO</string>
						<key>activityCount</key>
						<string>18</string>
						<key>isTableViewCell</key>
						<string>NO</string>
					</dict>
					<dict>
						<key>type</key>
						<string>3</string>
						<key>isStudy</key>
						<string>NO</string>
						<key>stepsCount</key>
						<string>250</string>
						<key>isTableViewCell</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>todaysActivity</key>
		<array>
			<dict>
				<key>isTableViewCell</key>
				<string>NO</string>
				<key>isStudy</key>
				<string>YES</string>
				<key>title</key>
				<string>Today&apos;s Activities</string>
				<key>completedCount</key>
				<string>2</string>
				<key>pendingCount</key>
				<string>3</string>
				<key>completedSurvey</key>
				<string>1</string>
				<key>completedTask</key>
				<string>1</string>
				<key>pendingTask</key>
				<string>1</string>
				<key>pendingSurvey</key>
				<string>2</string>
			</dict>
			<dict>
				<key>isTableViewCell</key>
				<string>NO</string>
				<key>isStudy</key>
				<string>YES</string>
				<key>title</key>
				<string>Upcoming Activities</string>
				<key>completedCount</key>
				<string>2</string>
				<key>pendingCount</key>
				<string>3</string>
				<key>completedSurvey</key>
				<string>1</string>
				<key>completedTask</key>
				<string>1</string>
				<key>pendingSurvey</key>
				<string>2</string>
				<key>pendingTask</key>
				<string>1</string>
			</dict>
			<dict>
				<key>isTableViewCell</key>
				<string>NO</string>
				<key>isStudy</key>
				<string>YES</string>
				<key>title</key>
				<string>Today&apos;s Activities</string>
				<key>completedCount</key>
				<string>2</string>
				<key>pendingCount</key>
				<string>3</string>
				<key>completedSurvey</key>
				<string>1</string>
				<key>completedTask</key>
				<string>1</string>
				<key>pendingSurvey</key>
				<string>2</string>
				<key>pendingTask</key>
				<string>1</string>
			</dict>
			<dict>
				<key>isTableViewCell</key>
				<string>NO</string>
				<key>isStudy</key>
				<string>YES</string>
				<key>title</key>
				<string>Upcoming Activities</string>
				<key>completedCount</key>
				<string>2</string>
				<key>pendingCount</key>
				<string>3</string>
				<key>completedSurvey</key>
				<string>1</string>
				<key>completedTask</key>
				<string>1</string>
				<key>pendingSurvey</key>
				<string>2</string>
				<key>pendingTask</key>
				<string>1</string>
			</dict>
		</array>
		<key>statistics</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>isStudy</key>
				<string>NO</string>
				<key>isTableViewCell</key>
				<string>NO</string>
				<key>sleepCount</key>
				<string>30</string>
			</dict>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>isStudy</key>
				<string>NO</string>
				<key>activityCount</key>
				<string>18</string>
				<key>isTableViewCell</key>
				<string>NO</string>
			</dict>
			<dict>
				<key>type</key>
				<string>3</string>
				<key>isStudy</key>
				<string>NO</string>
				<key>stepsCount</key>
				<string>250</string>
				<key>isTableViewCell</key>
				<string>NO</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
