<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>helpText</key>
		<string>Current Password</string>
		<key>placeHolder</key>
		<string>enter current password</string>
	</dict>
	<dict>
		<key>helpText</key>
		<string>New Password</string>
		<key>placeHolder</key>
		<string>enter new password</string>
	</dict>
	<dict>
		<key>helpText</key>
		<string>Confirm Password</string>
		<key>placeHolder</key>
		<string>confirm password</string>
	</dict>
</array>
</plist>
