<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- enable use-expressions -->
	<http auto-config="true" pattern="/index.jsp" security="none"
		disable-url-rewriting="true" />

	<http auto-config="true" use-expressions="true"
		disable-url-rewriting="true">

		<intercept-url pattern="/adminStudies/**"
			access="hasAnyRole('ROLE_MANAGE_STUDIES','ROLE_CREATE_MANAGE_STUDIES','ROLE_SUPERADMIN')" />
		<intercept-url pattern="/adminNotificationView/**"
			access="hasAnyRole('ROLE_MANAGE_APP_WIDE_NOTIFICATION_VIEW','ROLE_SUPERADMIN')" />
		<intercept-url pattern="/adminNotificationEdit/**"
			access="hasAnyRole('ROLE_MANAGE_APP_WIDE_NOTIFICATION_EDIT','ROLE_SUPERADMIN')" />
		<intercept-url pattern="/adminUsersView/**"
			access="hasAnyRole('ROLE_MANAGE_USERS_VIEW','ROLE_SUPERADMIN')" />
		<intercept-url pattern="/adminUsersEdit/**"
			access="hasAnyRole('ROLE_MANAGE_USERS_EDIT','ROLE_SUPERADMIN')" />
		<intercept-url pattern="/adminDashboard/**" access="permitAll" />

		<!-- access denied page -->
		<access-denied-handler error-page="/unauthorized.do" />
		<form-login login-page="/login.do"
			authentication-success-handler-ref="customSuccessHandler"
			authentication-failure-url="/errorRedirect.do?error=Y"
			username-parameter="username" password-parameter="password" />
		<logout logout-success-url="/" invalidate-session="false"
			delete-cookies="JSESSIONID" logout-url="/sessionOut.do" />
		<session-management invalid-session-url="/errorRedirect.do?error=timeout">
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="false" expired-url="/errorRedirect.do?error=multiUser" />
		</session-management>
		<!-- enable csrf protection -->
		<csrf />
	</http>
	<beans:bean id="authenticationProvider"
		class="com.fdahpstudydesigner.util.LimitLoginAuthenticationProvider">
		<beans:property name="userDetailsService" ref="loginService" />
		<beans:property name="passwordEncoder" ref="passwordEncoder" />
	</beans:bean>
	<beans:bean
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"
		id="passwordEncoder" />
	<authentication-manager>
		<authentication-provider ref="authenticationProvider">
			<!-- <password-encoder hash="bcrypt" /> -->
		</authentication-provider>
	</authentication-manager>
	<beans:bean id="customSuccessHandler"
		class="com.fdahpstudydesigner.util.CustomSuccessHandler" />
</beans:beans>