<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>helpText</key>
		<string>Email</string>
		<key>placeHolder</key>
		<string>enter email</string>
	</dict>
	<dict>
		<key>helpText</key>
		<string>Password</string>
		<key>placeHolder</key>
		<string>enter password</string>
	</dict>
</array>
</plist>
