<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hphc.mystudies">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="com.hphc.mystudies.FDAApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.myfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

        <activity
            android:name="com.hphc.mystudies.gatewayModule.GatewayActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.SplashActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.hphc.mystudies.userModule.SignupActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.hphc.mystudies.userModule.VerificationStepActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.userModule.SignupProcessCompleteActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.passcodeModule.PasscodeSetupActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/passcodeTheme"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.userModule.SignInActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustNothing"/>
        <activity
            android:name="com.hphc.mystudies.userModule.ForgotPasswordActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.StudyActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustNothing"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.StudySignInActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.StudyInfoActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.SurveyActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.NotificationActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.ChangePasswordActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.DeleteAccountActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.userModule.TermsPrivacyPolicyActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.consent.CustomConsentViewTaskActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="org.researchstack.backbone.ui.ViewWebDocumentActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp"
            android:windowSoftInputMode="stateHidden"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="17d66c1b46986f6f6633cc62617443d13b9fbf1d"/>

        <activity
            android:name="com.hphc.mystudies.studyAppModule.EligibilityEnrollmentActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar1"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.activityBuilder.CustomSurveyViewTaskActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.EligibilityModule.CustomViewTaskActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp"
            android:windowSoftInputMode="stateHidden"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="17d66c1b46986f6f6633cc62617443d13b9fbf1d"/>

        <activity
            android:name="com.hphc.mystudies.WebViewActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.ConsentCompletedActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.ContactUsActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.FeedbackActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.EnrollmentValidatedActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDHdAfZeCaZ-eH-3HGEQL8khc9bg8oocKo"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="com.hphc.mystudies.studyAppModule.SurveyCompleteActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.ResourcesWebViewActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.PDFDisplayActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.userModule.NewPasscodeSetupActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.hphc.mystudies.userModule.ConfirmPasscodeSetup"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <service android:name="com.hphc.mystudies.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.hphc.mystudies.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name="com.hphc.mystudies.studyAppModule.ChartActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.GatewayResourcesWebViewActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp"
            android:windowSoftInputMode="stateHidden"/>

        <receiver android:name="com.hphc.mystudies.notificationModule.AlarmReceiver">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="com.hphc.mystudies.offlineModule.auth.StubContentProvider"
            android:authorities="com.hphc.mystudies.offlineModule.auth.syncadapterexample.provider"
            android:exported="false"
            android:syncable="true"/>

        <service android:name="com.hphc.mystudies.offlineModule.auth.StubAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <service
            android:name="com.hphc.mystudies.offlineModule.auth.SyncAdapterService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>
        <service android:name="com.hphc.mystudies.utils.ActiveTaskService">
            <intent-filter>
                <action android:name="com.harvard.fda.ActiveTask"/>
            </intent-filter>
        </service>

        <receiver android:name="com.hphc.mystudies.utils.AlarmService"/>

        <activity
            android:name="com.hphc.mystudies.studyAppModule.FilterActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp"
            android:windowSoftInputMode="stateHidden"/>

        <receiver android:name="com.hphc.mystudies.utils.BootCompleteListener">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.hphc.mystudies.EligibilityModule.NotEligibleActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp">
        </activity>
        <activity
            android:name="com.hphc.mystudies.EligibilityModule.EligibleActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp">
        </activity>
        <activity
            android:name="com.hphc.mystudies.EligibilityModule.ComprehensionSuccessActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp">
        </activity>
        <activity
            android:name="com.hphc.mystudies.EligibilityModule.ComprehensionFailureActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp">
        </activity>
        <activity
            android:name="com.hphc.mystudies.studyAppModule.consent.ConsentSharingStepCustom.LoadMoreActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackboneApp">
        </activity>
    </application>

</manifest>