.calender-gray, .calender-blue, .heart-blue, .heart-gray, .status-blue, .status-gray, .filled-tooltip, .info{
	background: url(sprites_v3.png) no-repeat;
}

.calender-gray{
	background-position: -18px -16px ;
	width: 15px;
	height: 15px;
    display: inline-block;
}

.calender-blue{
	background-position: -17px -66px ;
	width: 15px;
	height: 15px;
    display: inline-block;
}

.heart-blue{
	background-position: -65px -69px ;
	width: 17px;
	height: 15px;
    display: inline-block;
}

.heart-gray{
	background-position: -65px -19px ;
	width: 17px;
	height: 15px;
    display: inline-block;
}

.status-blue{
	background-position: -112px -66px ;
	width: 15px;
	height: 13px;
    display: inline-block;
}

.status-gray{
	background-position: -112px -18px ;
	width: 15px;
	height: 13px;
    display: inline-block;
}

.filled-tooltip{
	background-position: -167px -68px ;
	width: 11px;
	height: 12px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.info{
	background-position: -164px -21px ;
	width: 17px;
	height: 17px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

