<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>StudyMetaData</display-name>
	<listener>
		<listener-class>com.hphc.mystudies.util.ServletContextHolder</listener-class>
	</listener>
	<servlet>
		<servlet-name>StudyMetaDataController REST Service</servlet-name>
		<servlet-class>com.hphc.mystudies.web.servlet.StudyMetaDataController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>StudyMetaData REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.hphc.mystudies.service,com.hphc.mystudies.dto,com.hphc.mystudies.corn,org.codehaus.jackson.jaxrs</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudyMetaData REST Service</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<!-- Force SSL for entire site -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Entire Site</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<!-- <transport-guarantee>CONFIDENTIAL</transport-guarantee> -->
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>SMTPHostName</param-name>
		<param-value>smtp.gmail.com</param-value>
	</context-param>
	<context-param>
		<param-name>SMTPPort</param-name>
		<param-value>587</param-value>
	</context-param>
	<context-param>
		<param-name>SSLFACTORY</param-name>
		<param-value>javax.net.ssl.SSLSocketFactory</param-value>
	</context-param>
	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>
	</context-param>

	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>com.hphc.mystudies.web.servlet.RestAuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>