.studies-g, .studies-b, .repository-g, .repository-b, .notifications-g, .notifications-b, .user-g, .user-b, .account-g, .account-b{
	background: url(sprites.png) no-repeat;
}

.lg-icons-list li:hover div{
    color: #036eb7;
}

.lg-icons-list li:first-child .studies-g{
	background-position: -13px -12px ;
	width: 45px;
	height: 64px;
    display: inline-block;
    transition: all 0.2s ease;
}

.lg-icons-list li:first-child:hover .studies-g{
	background-position: -13px -90px ;
	width: 45px;
	height: 64px;
    display: inline-block;    
}

.lg-icons-list li:nth-child(2) .repository-g{
	background-position: -90px -18px ;
	width: 49px;
	height: 64px;
    display: inline-block;
    transition: all 0.2s ease;
}

.lg-icons-list li:nth-child(2):hover .repository-g{
	background-position: -90px -95px ;
	width: 49px;
	height: 64px;
    display: inline-block;
}

.lg-icons-list li:nth-child(3) .notifications-g{
	background-position: -169px -19px ;
	width: 52px;
	height: 64px;
    display: inline-block;
    transition: all 0.2s ease;
}

.lg-icons-list li:nth-child(3):hover .notifications-g{
	background-position: -169px -94px ;
	width: 52px;
	height: 64px;
    display: inline-block;
}

.lg-icons-list li:nth-child(4) .user-g{
	background-position: -245px -17px ;
	width: 68px;
	height: 64px;
    display: inline-block;
    transition: all 0.2s ease;
}

.lg-icons-list li:nth-child(4):hover .user-g{
	background-position: -245px -92px ;
	width: 68px;
	height: 64px;
    display: inline-block;
}

.lg-icons-list li:nth-child(5) .account-g{
	background-position: -336px -15px ;
	width: 57px;
	height: 64px;
    display: inline-block;
    transition: all 0.2s ease;
}

.lg-icons-list li:nth-child(5):hover .account-g{
	background-position: -336px -91px ;
	width: 57px;
	height: 64px;
    display: inline-block;
}

