.calender-b, .calender-g, .send-b, .send, .tick, .dot, .close, .back-b, .incomplete{
	background: url(sprites-icons-2.png) no-repeat;
}

.calender-b{
	background-position: -17px -18px ;
	width: 15px;
	height: 15px;
    display: inline-block;
}

.calender-g{
	background-position: -17px -63px ;
	width: 15px;
	height: 15px;
    display: inline-block;
}

.send:hover{
	background-position: -66px -18px ;
	width: 20px;
	height: 17px;
    display: inline-block;
}

.send{
	background-position: -64px -64px ;
	width: 20px;
	height: 17px;
    display: inline-block;
    vertical-align:middle;
}

.tick{
	background-position: -113px -22px ;
	width: 12px;
	height: 10px;
    display: inline-block;
    float: right;
}

/* .dot{
	background-position: -167px -24px ;
	width: 7px;
	height: 7px;
    display: inline-block;
} */

.close{
	background-position: -113px -65px ;
	width: 16px;
	height: 16px;
    display: inline-block;
}

.back-b{
	background-position: -165px -66px ;
	width: 21px;
	height: 15px;
    display: inline-block;
}

.incomplete{
	background-position: -213px -21px ;
	width: 18px;
	height: 17px;
    display: inline-block;
}

