/*

Name: 			layout.css
Written by: 	BTC - Maari Vanaraj
Version: 		1.0

*/

@media screen and (min-width: 760px) {
    
.lg-space-title{
    padding: 0px 20px 40px;
}
    
.lg-space-left{
    position: relative;
    width: 40%;
    display: inline-block;
    float: left;        
    background: #007cba;        
}

.lg-space-img{
    padding: 50px 50px 0px;
}

.lg-space-img img{
    width: 100%;
}

.lg-space-txt{    
    color: #fff;
    font-size: 32px;
    line-height: 36px;
    font-weight: 200; 
    text-align: left;
    padding: 0px 50px;
}

.lg-space-right{
    width: 60%;
    display: inline-block;
    float: left;
}
    
.lg-icons-list li{
    width: 200px;
    height: 125px;
    padding: 16px 30px 30px;
}
    
.lg-space-container{
    width: 70%;
    margin: 0 auto;
    float: none;
    text-align: center;
    z-index: 1;
    height:220px;
}
    
.wd{
    width: 60% !important;
}
    
.md-container{
    width: 90%;
    margin: 0 auto;
    float: none;    
}
    
.navbar-nav{
    margin-top: 14px;
    margin-left: 50px;
}

.nav>li>a{
    margin: 0px; 
    border-bottom: 1px solid #95a2ab;
    padding: 10px 0px;
}
    
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    border-bottom: 1px solid #007cba;
}

.ed-user-layout{
    width: 80%;
}

.ellipse-hover-icon{
    width: 100%;
}
    
}


@media screen and (min-width: 769px) {
    
.nav>li>a{
    margin: 0px 15px;
    padding: 10px 0px 22px;
    border-bottom: none;
    font-size: 12px;
}
    
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    border-bottom: 3px solid #007cba !important;
}
    
.navbar-right li a, .navbar-right li a:hover, .navbar-right li a:focus, .navbar-right li a:active{
    border-bottom: none;
}
    
}


@media screen and (min-width: 1020px) {
   
.lg-space-title{
    padding: 0px 20px 40px;
}
    
.lg-space-left{
    width: 40%;
}

.lg-space-right{
    width: 60%;
}
    
.lg-icons-list li{
    height: 160px;
    padding: 40px 30px 30px;
}
    
.lg-space-container{
    width: 50%;
}

.wd{
    width: 100% !important;
}
    
.md-container{
    width: 98%;   
}

.table.dataTable thead th, table.dataTable thead td, table.dataTable tbody td{
    padding: 10px 5px 10px 5px;
}

.col-lc{
   width: 25.666667%;
}
.col-rc{
   width: 74.333333%;
}
    
.nav>li>a{
    margin: 0px 20px;
    padding: 10px 0px 22px;
    border-bottom: none;
}
    
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    border-bottom: 3px solid #007cba;
}

.dis-ellipsis {
    width: 150px;
}

}

@media screen and (max-width: 1020px) {
	table.dataTable thead .sorting_asc{background-image:url("../images/icons/sort_asc.png") !important};

table.dataTable thead .sorting_desc{background-image:url("../images/sort_desc.png") !important};

table.dataTable thead .sorting_asc_disabled{background-image:url("../images/sort_asc_disabled.png") !important};

table.dataTable thead .sorting_desc_disabled{background-image:url("../images/sort_desc_disabled.png") !important};
}


@media screen and (min-width: 1200px) {

.lg-space-left{
    width: 35%;
}

.lg-space-right{
    width: 65%;
}

.lg-space-container{
    width: 40%;
}
  
.lg-icons-list li{
    width: 240px;
}
  
.md-container{
    width: 94%;   
}

.table.dataTable thead th, table.dataTable thead td, table.dataTable tbody td{
    padding: 10px 5px 10px 10px;
}  

.col-lc{
   width: 23.666667%;
}
.col-rc{
   width: 76.333333%;
}

.p-40{
    padding-right: 40px;
}

.lg-space-img img{
    width: auto;
}

.dis-ellipsis {
    width: 330px;
}

table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting{
    background-image: none;
}


.sort{
    background-image: url("../images/icons/sorting.png") !important;
    width: 7px;
    height: 9px;
    display: inline-block;
    margin-left: 5px;
}

.asc{
    background-image: url("../images/icons/asc.png") !important;
    width: 7px;
    height: 9px;
    display: inline-block;
    margin-left: 5px;
}

.desc{
    background-image: url("../images/icons/desc.png") !important;
    width: 7px;
    height: 9px;
    display: inline-block;
    margin-left: 5px;
}

.ellipse-hover-icon{
    width: 110px;
    text-align: center;
}   


}


@media screen and (min-width: 1300px) {
    
.col-lc{
   width: 22.666667%;
}
.col-rc{
   width: 77.333333%;
}
    
}


@media screen and (min-width: 1400px) {
    
.lg-space-left{
    width: 30%;
}

.lg-space-right{
    width: 70%;
}
    
.lg-space-container{
    width: 30%;
}
    
.md-container{
    width: 88%;
}

.col-lc{
    width: 20.666667%;
}
.col-rc{
   width: 79.333333%;
}

.lg-space-img img{
    width: 100%;
} 

.ed-user-layout{
    width: 60%;
} 

    
}


@media screen and (min-width: 1500px) {
    
.lg-space-left{
    width: 24%;
}

.lg-space-right{
    width: 76%;
}
    
.lg-icons-list li{
    width: 200px;
}
    
.md-container{
    width: 89%;    
}

.col-lc{
    width: 18.666667%;
}
.col-rc{
   width: 81.333333%;
}

    
}


@media screen and (min-width: 1600px) {
    
.lg-space-left{
    width: 25%;
}

.lg-space-right{
    width: 75%;
}
    
.lg-space-container{
    width: 26.5%;  
}
    
.md-container{
    width: 90%;    
}

.col-lc{
    width: 16.66666667%;
}
.col-rc{
   width: 83.33333333%; 
}
    
}

@media screen and (min-width: 1700px) {
 
.ellipse-hover-icon{
    width: 110px;
    text-align: center;
}   

    
}


@media screen and (min-width: 1800px) {
    
.md-container{
    width: 91%;
}
    
}


@media screen and (min-width: 1900px) {
    
.md-container{
    width: 91.5%;    
}
    
}