.edit-b, .edit-g, .copy, .copy-b, .delete-b, .delete, .preview-b, .preview-g, .filter-b, .filter-g, .calender-g, .back-b, .download-b, .info, .heart-g, .lock-g, .logout, .tick{
	background: url(sprites_icon.png) no-repeat;
}

.edit-g:hover{
	background-position: -16px -16px ;
	width: 15px;
	height: 16px;
    display: inline-block;
    cursor: pointer;
}

.edit-g{
	background-position: -16px -64px ;
	width: 15px;
	height: 16px;
    display: inline-block;
    cursor: pointer;
}

.copy{
	background-position: -64px -65px ;
	width: 15px;
	height: 17px;
    display: inline-block;
    cursor: pointer;
}

.copy:hover{
	background-position: -64px -17px ;
	width: 15px;
	height: 17px;
    display: inline-block;
    cursor: pointer;
}

.delete:hover{
	background-position: -113px -18px ;
	width: 17px;
	height: 18px;
    display: inline-block;
    cursor: pointer;
}

.delete{
	background-position: -113px -63px ;
	width: 17px;
	height: 18px;
    display: inline-block;
    cursor: pointer;
}

.preview-g:hover{
	background-position: -159px -19px ;
	width: 26px;
	height: 15px;
    display: inline-block;
    cursor: pointer;
}

.preview-g{
	background-position: -159px -67px ;
	width: 26px;
	height: 15px;
    display: inline-block;
    cursor: pointer;
}

.filter-g:hover{
	background-position: -211px -21px ;
	width: 20px;
	height: 13px;
    display: inline-block;
    cursor: pointer;
}

.filter-g{
	background-position: -211px -69px ;
	width: 20px;
	height: 13px;
    display: inline-block;
    cursor: pointer;
}

.calender-g{
	background-position: -264px -67px ;
	width: 15px;
	height: 15px;
    display: inline-block;
    cursor: pointer;
}

.back-b{
	background-position: -262px -17px ;
	width: 21px;
	height: 15px;
    display: inline-block;
    cursor: pointer;
}

.download-b{
	background-position: -313px -18px ;
	width: 15px;
	height: 14px;
    display: inline-block;
    cursor: pointer;
}

.info{
	background-position: -363px -16px ;
	width: 17px;
	height: 17px;
    display: inline-block;
    cursor: pointer;
}

.heart-g{
	background-position: -314px -67px ;
	width: 17px;
	height: 15px;
    display: inline-block;
    cursor: pointer;
}

.lock-g{
	background-position: -365px -65px ;
	width: 12px;
	height: 15px;
    display: inline-block;
    cursor: pointer;
}

.logout{
	background-position: -411px -20px ;
	width: 20px;
	height: 16px;
    display: inline-block;
    cursor: pointer;
}

.tick{
	background-position: -465px -23px ;
	width: 12px;
	height: 10px;
    display: inline-block;
    cursor: pointer;
    float: right !important;
}

